<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243836457135-j0v7b1g0jt9622ls05innp60ifskvu2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243836457135-j0v7b1g0jt9622ls05innp60ifskvu2p</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Z0Yek4NZU3Rq6jAfReTFEkbI3ajDGSA</string>
	<key>GCM_SENDER_ID</key>
	<string>243836457135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartHomeSystem</string>
	<key>PROJECT_ID</key>
	<string>smart-home-system-c612e</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-system-c612e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243836457135:ios:01156f9d24d045b21e445a</string>
</dict>
</plist>